#header {
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg, rgba(43,158,118,1) 0%, rgba(73,124,157,1) 50%, rgba(0,212,255,1) 100%);
}
#menu {
    width: 3rem;
    height: 80%;
}
#menu img {
    width: 80%;
    height: 100%;
    margin-left: 2rem;
    cursor: pointer;
}
#container-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(43,158,118,1) 0%, rgba(73,124,157,1) 50%, rgba(0,212,255,1) 100%);
}
#container {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    background-color:rgb(243, 243, 243);
    border-radius: 0.5rem;
    padding: 0 3rem;
}